
/*nista pod ovim id-om ne moze biti oznaceno */
#wrapp {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*-------------------------------------------- */
body {                              /*boja pozadine*/
    background-color:darkgrey;    
}

html,body {
    margin:0;
    padding: 0;    
}


#naslov {
    margin: auto;
    text-align: center;
    border: 1px solid black;
}


#container {
    width: 400px;
    height: 600px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,10)
}


#ekran {
    width: 380px;
    height: 80px;
    color: aliceblue;
    background-color:cadetblue;   
    text-align: right;
    font-size: 86px;
    overflow: hidden;
    white-space: normal;
    border-radius: 7px 7px 0 0;
    padding: 10px;
    
}

.tipke_brojke {
    width:100px;
    height:100px;
    box-sizing: border-box;
    border: 1px solid black;
    float:left;
    font-size: 3em;
    text-align: center;
    background-color: silver;
    cursor: pointer;
    padding-top:25px;
    border-radius: 5px
}

.tipke_brojke:active, .tipke_operater:active {  /*smanjuju font*/
    font-size: 2.3em;
}



.tipke_brojke:hover {           /* tipke mjenjaju boju kad je mouseover */
    background-color: orange;    
}

.crveno {
    color:red;      /*boja slova*/
   }


.tipke_operater {
    width:100px;
    height:100px;
    box-sizing: border-box;
    border: 1px solid black;
    float:left;
    font-size: 3em;
    text-align: center;
    background-color: orange; /*boja pozadine*/
    cursor: pointer;
    padding-top:25px; 
    border-radius: 5px
}

.tipke_operater:hover {           /* tipke mjenjaju boju kad je mouseover */
    background-color: navajowhite;    
}


.tipke_brojke.duple {
    width: 200px;   
}




 