html,body {
    margin:0;
    padding: 0;    
}



#naslov {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    
}

.brojke {
    width:20px;
    height:30px;
    border: 1px solid black;
    margin: auto;
    
}

.brojke_2 {
    width:20px;
    height:30px;
    border: 1px solid black;
    float: right;
    
    
}

